<br />
<div class="card mb-3">
  <img
    src="https://www.kindpng.com/picc/m/213-2136825_mac-model-banner-apple-mac-pro-banners-hd.png"
    class="card-img-top"
    alt="..."
    style="width: 500px"
  />
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore aliquam
      praesentium voluptate alias ut soluta dolorem accusamus, repudiandae
      debitis repellat necessitatibus, enim facere voluptates provident odio?
      Suscipit itaque sapiente asperiores?
    </p>
    <a href="/blog" class="btn btn-primary">Read more</a>
  </div>
</div>
<br />
<div class="card mb-3">
  <img
    src="https://www.kindpng.com/picc/m/213-2136825_mac-model-banner-apple-mac-pro-banners-hd.png"
    class="card-img-top"
    alt="..."
    style="width: 500px"
  />
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore aliquam
      praesentium voluptate alias ut soluta dolorem accusamus, repudiandae
      debitis repellat necessitatibus, enim facere voluptates provident odio?
      Suscipit itaque sapiente asperiores?
    </p>
    <a href="/blog" class="btn btn-primary">Read more</a>
  </div>
</div>
