<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">Special title treatment</h1>
    <br />
    <img
      src="https://www.kindpng.com/picc/m/213-2136825_mac-model-banner-apple-mac-pro-banners-hd.png"
      class="card-img-top"
      alt="..."
      style="width: 1000px"
    />
    <br />
    <p class="card-text justify-content-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
      exercitationem quidem non aut perferendis eaque sit voluptate earum ex!
      Blanditiis quidem soluta quia odio, qui illo necessitatibus consequuntur
      asperiores totam mollitia at natus dolorum, unde temporibus? Animi, nisi,
      minus alias obcaecati velit nobis qui totam provident eveniet repellendus
      nostrum omnis modi dignissimos deleniti earum incidunt. Minus fuga non
      aperiam facere quos eveniet rem facilis tempora quibusdam, dolor a laborum
      tempore iure deserunt distinctio vitae esse in corrupti excepturi. Hic,
      illum excepturi quam laborum tempora cumque recusandae expedita corporis.
      Accusantium aperiam at ut, fugit cum aspernatur error doloribus.
      Praesentium ipsum aliquam reiciendis ad aliquid mollitia ipsa esse
      voluptates facilis. Vitae, officiis voluptate possimus cumque dolor
      quibusdam magnam dolore nisi autem saepe temporibus laborum eum amet eos
      aliquam vel deserunt adipisci? Fugiat officiis unde, consequuntur quam
      maxime ex delectus laudantium nihil ducimus? Id itaque laborum obcaecati
      vero aliquam blanditiis delectus facere deserunt corrupti earum dolorem
      fugiat excepturi eos maxime assumenda illum vel ducimus repellat quod
      voluptates alias, officiis eum quaerat a. Voluptatibus ab cumque quam
      explicabo? Eaque quae maiores facere voluptates voluptatum, cupiditate
      quas culpa quaerat fugit, amet beatae ab praesentium temporibus id error
      quisquam sint unde. Dicta esse dolore sit quis ipsa! Harum quis
      necessitatibus temporibus voluptatibus consequuntur repellendus minima,
      quod, natus ad, laboriosam dolorem dolore? Sapiente aliquam nostrum
      delectus repudiandae maxime nam explicabo illo cumque tenetur ratione
      adipisci, a in quisquam architecto consequatur fuga distinctio odio harum
      cum suscipit! Eius animi quia soluta sequi placeat aut. Impedit
      voluptatum, inventore tempore vitae quisquam quis ducimus repellat,
      obcaecati incidunt illo et sunt voluptatem eaque qui soluta quo nisi!
      Omnis exercitationem consectetur fuga, maxime veniam corrupti? Voluptatum
      odio fuga cumque dicta ab magnam illum ratione harum. Doloremque,
      praesentium optio. Commodi explicabo, nihil quibusdam recusandae cum saepe
      corrupti pariatur necessitatibus quae ut quas, quia dolor minima molestiae
      dolorem nulla libero, optio praesentium reprehenderit ipsa! Sunt
      voluptatem magnam hic inventore voluptatum, consequatur minus repellat
      tenetur nemo perferendis facilis iusto corrupti numquam corporis ad iste
      doloremque sapiente, aperiam similique rerum qui! In voluptate ducimus,
      repellat voluptas quidem error hic atque. Laudantium odit voluptatibus vel
      doloremque maxime iste nesciunt repudiandae. Doloremque, officiis beatae
      commodi eligendi iusto, provident tenetur debitis blanditiis nam delectus
      deserunt aliquid nobis nisi exercitationem rem saepe. Quibusdam, id.
      Accusamus excepturi ea officia vel quam aut voluptate perferendis?
      Perspiciatis cumque, quibusdam magni corrupti alias impedit officia minima
      quos. Reiciendis adipisci optio blanditiis? Ut aliquid inventore
      reiciendis eius. Dolores quaerat officiis, vel sit amet deleniti.
      Recusandae tempore assumenda earum distinctio ut delectus iste facere
      praesentium ratione, tenetur nisi est laboriosam totam illum modi possimus
      aut. Nostrum laboriosam, ducimus obcaecati tenetur voluptate officia
      voluptatum. Sint ut animi dolorum illum et magni ea, ipsam dolores veniam
      accusamus eum velit, eligendi sed beatae facere est, doloremque eius
      harum? Odio maiores, voluptatum, voluptatibus tempore officia incidunt
      molestias expedita explicabo tenetur cum quisquam saepe amet cumque itaque
      magnam, sint ducimus quod esse. Ratione at consequuntur quidem similique
      debitis doloremque unde aliquam dolore ad error, earum nostrum consectetur
      laboriosam corrupti dicta rem?
    </p>
  </div>
</div>
